{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Welcome to our Real Estate Agency</h1>
    <section>
        <h2>Featured Properties</h2>
        {% for property in featuredProperties %}
            <div class="property-card">
                <h3>{{ property.title }}</h3>
                <p>Price: {{ property.price|number_format(2, ',', ' ') }} €</p>
                <a href="{{ path('property_detail', {'id': property.id}) }}">View details</a>
            </div>
        {% endfor %}
    </section>
{% endblock %}