{% extends 'base.html.twig' %}

{% block title %}Demande de Contact{% endblock %}

{% block body %}
    <h1>Demande de contact</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('contact_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}